:root {
  color-scheme: light !important;
}
.p-button-text:not(:disabled):hover {
  background: transparent !important;

}

.p-select-label,
.p-inputtext,
.p-select-header,
.p-select-list,
.p-select {
  background-color: white !important;
  color: black !important;
}

.p-select-label {
  border-radius: 4px;
}

.p-focus {
  background-color: transparent !important;
}

.p-select-overlay {
  border: none !important;
}

.p-inputtext {
  border: 1.5px solid rgba(233, 233, 233, 1) !important
}

.p-dialog {
  background-color: #ffffff !important;
  color: #333333 !important;
  border-color: transparent !important;
}

.p-accordionpanel {
  border-color: #E9E9E9 !important;
}

.p-accordioncontent-content,
.p-accordionheader {
  background-color: #ffffff !important;
  color: #333333 !important;
}



.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #f3f3f3;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}